.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 150px 0 20px;
  height: 90px;
  background-color: #020203;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  z-index: 60;
  position: relative;

  &__logo {
    padding-left: 8px;
  }

  &__navlink {
    display: flex;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
  }
}
