.performance {
  width: 258px;
  height: 263px;
  background-color: #282d30;
  border-radius: 5px;
}

.recharts-polar-angle-axis-ticks {
  color: #fff;
  font-size: 12px;
}

.recharts-responsive-container {
  margin: 0;
}

.recharts-polar-grid-angle {
  display: none;
}
